body{
    background-color: white;
}
.list {
    width: 70%;
    background-color: white;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
.item{
    width: auto;
    background-color: #99cc00;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
    overflow: hidden;
}
.text{
    display: inline-block;
    padding: 10px;
    background-color: white;
    text-align: center;
    font: sans-serif;
    font-family: Verdana;
    font-variant: small-caps;
    cursor: default;
}
.button{
    margin-left: 10px;
    cursor: pointer;
    float: right;
}