body{
    background-color: white;
}
.select_list {
    width: 70%;
    background-color: white;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
.select_item{
    width: auto;
    background-color: #99cc00;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
    overflow: hidden;
}
.select_text{
    display: inline-block;
    padding: 10px;
    background-color: white;
    text-align: center;
    font: sans-serif;
    font-family: Verdana;
    font-variant: small-caps;
    cursor: default;
}
.select_button{
    margin-left: 10px;
    cursor: pointer;
    float: right;
}
.password_form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}
.password_text{
    padding: 10px;
}