.main_container{
    text-align: center;
}
.main_item{
    display: inline-block;
    background-color: #99cc00;
    margin: 10px;
    padding: 10px;
}
.main_text{
    display: inline-block;
    background-color: white;
    padding: 10px;
    font: sans-serif;
    font-family: Verdana;
    font-variant: small-caps;
    font-size: 250%;
    cursor: pointer;
}